.git
.DS_Store
.ipynb_checkpoints
__pycache__
src/gamedb.*
.vscode
install/
UCBC 2024/
scripts/
training/
models/eamon
src/db
demo/
models/lead_model_c
models/lead_model
models/UCBC
src/Eastdb.*
src/Westdb.*
src/Northdb.*
src/Southdb.*
