.ipynb_checkpoints
__pycache__
src/gamedb.*

scripts/match/bidding/0.1
scripts/match/bidding/0.2
scripts/match/bidding/0.05
scripts/match/bidding/0.1vs0.2
scripts/match/bidding/0.1vs0.05
scripts/match/bidding/0.2vs0.05
scripts/match/bidding/training/html
scripts/training/bidding/binary
.vscode
install/build
install/dist/config
install/dist/models
install/dist/appserver.exe
install/dist/gamedb.*
install/dist/gameserver.exe
install/dist/game.exe
install/dist/table_manager_client.exe
install/venv
install/dist/Championships- BEN v WBridge5.pbn
models/eamon
scripts/match/bidding/eamon
scripts/training/playing/*_bin
scripts/training/playing/playing_data/Jack
scripts/training/playing/*_model
scripts/training/bidding/bidding_bin
scripts/training/bidding/model
