numpy
scipy
matplotlib
jupyter
scikit-learn
pandas

tqdm

websockets

keras==3.6.0
tensorflow==2.18
grpcio-tools

bottle
gevent
pythonnet
bottle_session
flask
flask_cors
flask_limiter 
psutil==5.9.0
colorama