numpy>=2.0.0,<2.1.0
scipy>=1.14.0
matplotlib
jupyter
scikit-learn
pandas

tqdm

websockets>=15.0.1

keras>=3.5.0,<3.6.0
tensorflow==2.18.1
grpcio-tools

onnxruntime

bottle
gevent
pythonnet>=3.0.4
clr-loader>=0.3.0
bottle_session
flask
flask_cors
flask_limiter 
psutil==5.9.0
colorama