#deal {
    border: 1px solid black;
    width: 540px;
    height: 540px;
    background-color: #beecef;
}

#north {
    position: absolute;
    top: 32px;
    left: 200px;
    width: 180px;
    height: 150px;
}

#west {
    position: absolute;
    top: 200px;
    left: 32px;
    width: 180px;
    height: 150px;
}

#east {
    position: absolute;
    top: 200px;
    left: 370px;
    width: 180px;
    height: 150px;
}

#south {
    position: absolute;
    top: 370px;
    left: 200px;
    width: 180px;
    height: 150px;
}

.suit {
    position: relative;
    margin-top: 3px;
    width: 99%;
    height: 18%;
    padding-top: 4px;
    font-size: 24px;
    font-family: sans-serif;
}

#vul-north {
    position: absolute;
    top: 32px;
    left: 52px;
    width: 40px;
    height: 20px;
}

#vul-west {
    position: absolute;
    top: 52px;
    left: 32px;
    width: 20px;
    height: 40px;
}

#vul-south {
    position: absolute;
    top: 92px;
    left: 52px;
    width: 40px;
    height: 20px;
}

#vul-east {
    position: absolute;
    top: 52px;
    left: 92px;
    width: 20px;
    height: 40px;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

#vul-north .dealer, #vul-south .dealer {
    margin: auto;
    position: absolute;
    top: 2px;
    left: 14px;
}

#vul-west .dealer, #vul-east .dealer {
    margin: auto;
    position: absolute;
    top: 11px;
    left: 4px;
}

.dealer {
    font-family: sans-serif;
}

.font-red {
    color: red;
}

#btn-start {
    position: absolute;
    top: 515px;
    left: 20px;
    border: 1px solid black;
    width: 30px;
    height: 24px;
}

#btn-start-play {
    position: absolute;
    top: 515px;
    left: 60px;
    border: 1px solid black;
    width: 30px;
    height: 24px;
}

#btn-prev {
    position: absolute;
    top: 515px;
    left: 100px;
    border: 1px solid black;
    width: 30px;
    height: 24px;
}

#btn-next {
    position: absolute;
    top: 515px;
    left: 140px;
    border: 1px solid black;
    width: 30px;
    height: 24px;
}

.button {
    background-color: white;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: yellow;
}

#trick-card-north {
    position: absolute;
    top: 220px;
    left: 250px;
}

#trick-card-south {
    position: absolute;
    top: 290px;
    left: 250px;
}

#trick-card-east {
    position: absolute;
    top: 256px;
    left: 290px;
}

#trick-card-west {
    position: absolute;
    top: 256px;
    left: 210px;
}

.trick-card {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    width: 36px;
    height: 28px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.trick-card.highlight {
    background-color: yellow;
}

#auction {
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    left: 378px;
    top: 16px;
    background-color: #efcdf5e0;
}

.bid {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #efcdf5e0;
}

#boardno {
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    left: 58px;
    top: 62px;
    width: 26px;
    text-align: center;
    background-color: #efcdf5e0;
}

td {
    text-align: center;
}

td.highlight {
    background-color: yellow;
}

th {
    border-bottom: 1px solid black;
}


#tricks-ns {
    position: absolute;
    top: 480px;
    left: 440px;
    width: 30px;
    height: 40px;
    padding-top: 10px;
}

#tricks-ew {
    position: absolute;
    top: 490px;
    left: 480px;
    width: 50px;
    height: 30px;
}

.trick-count {
    background-color: #aa0022;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
}

.trick-count span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#info td.candidate-card {
    font-weight: bold;
}

#info td {
    text-align: left
}

#info {
    font-family: monospace;
    position: absolute;
    top: 0px;
    left: 560px;
}

.samples {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.hidden {
    display: none;
}